body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: silver;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}